@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+Pro&display=swap');

:root {
    --primary-color:#00b4d8;
    --secondary-color:#0096c7;
    --accent1:#48cae4;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #fcfbfb;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    width: 100%;
    background-color: var(--primary-color);
}

.home-title {
    color: #48cae4;
    font-family: 'Lobster', 'Bradley-Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #48cae4;
}

.logo {
    width: 80px;
}

logo_link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

nav {
    margin-right: 20%;
}

nav a {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: white;
    color: var(--secondary-color);
}

img {
    max-width: 100%;
    text-align: center;
}

#hero {
    width:100%
}

#hero-img {
    width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: var(--primary-color);
}

.book, .join {
    background-color: white;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: var(--secondary-color);
    color: white;
}

.msg {
    background-color: var(--accent1);
    font-family: 'Lobster';
    margin: 35px;
    line-height: 1.5em;
}

.msg h2 {
    color: white;
}

.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid var(--accent1);
}

main section img {
    box-sizing: border-box;
}

footer {
    background-color: var(--primary-color);
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3 {
    color: white;
}

footer h3:hover {
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--secondary-color);
}

footer .social img {
    padding-top: 15px;
}