header {
    height: 10%;
    width: 100%;
}

logo {
    width: 1em;
}

nav {
    float: right;
    margin-right: 20%;
    margin-top: 5%;
}

img {
    max-width: 100%;
}

#hero {
    width:100%
}

#hero-img {
    width: 100%;
}